*.bak
*.$*$
*.lyx~
*.pyc
*.out
*.blg
*.bbl
*.aux
*.log
*.lyx#
commons/tex/summary.pdf
Backup*key
../11-group-meeting/censi_semantics_invariance.pdf
*.lyx.emergency
*.dvi
*.idv
*.xref
*.tmp
*.atfi
*.*~
.svn
.deps
*.toc
*.bak
dropbox_screwup
.DS_Store
